@font-face {
  font-family: "iconfont"; /* Project id 2631523 */
  src: url("//at.alicdn.com/t/font_2631523_ou8irqxxp3k.woff2?t=1625045387402")
      format("woff2"),
    url("//at.alicdn.com/t/font_2631523_ou8irqxxp3k.woff?t=1625045387402")
      format("woff"),
    url("//at.alicdn.com/t/font_2631523_ou8irqxxp3k.ttf?t=1625045387402")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
