@font-face {
  font-family: "iconfont"; /* Project id 2631523 */
  src: url("//at.alicdn.com/t/font_2631523_0opmv90r9ucm.woff2?t=1625018529135")
      format("woff2"),
    url("//at.alicdn.com/t/font_2631523_0opmv90r9ucm.woff?t=1625018529135")
      format("woff"),
    url("//at.alicdn.com/t/font_2631523_0opmv90r9ucm.ttf?t=1625018529135")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
