@font-face {
  font-family: "iconfont"; /* Project id 2682269 */
  src: url("//at.alicdn.com/t/font_2682269_fu758k1u9t5.woff2?t=1626918636554")
      format("woff2"),
    url("//at.alicdn.com/t/font_2682269_fu758k1u9t5.woff?t=1626918636554")
      format("woff"),
    url("//at.alicdn.com/t/font_2682269_fu758k1u9t5.ttf?t=1626918636554")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
